@using BlazorBJ.Client.Game.States.Abstractions
@using BlazorBJ.Client.Game.States
@using BlazorBJ.Client.Game



@code {
    [Parameter]
    public BlackjackGame Game { get; set; }
}

@if (Game.State is DealingState)
{
    <span class="text-secondary">Dealing...</span>
}
@if (Game.State is PlayingState || Game.State is PayoutState)
{
    <span style="color: orange">$@Game.Player.Bet</span>
    @if (Game.Player.HasInsurance)
    {
        <span class="@(Game.Dealer.HasNaturalBlackjack ? "text-success" :  "text-danger")"> (@Game.Player.InsuranceBet)</span>
    }
}
@if (Game.State is ShufflingState)
{
    <span class="text-secondary">Shuffling...</span>
}
@if (Game.State is EscortedOutState)
{
    <span class=" text-danger">The House is having you escorted out.</span>
    <br/>
    <span>You won the game! Thanks for playing!</span>
}